node_modules/.package-lock.json
node_modules/.bin/mime
node_modules/.bin/mime.cmd
node_modules/.bin/mime.ps1
node_modules/@vendia/serverless-express/LICENSE
node_modules/@vendia/serverless-express/package.json
node_modules/@vendia/serverless-express/README.md
node_modules/@vendia/serverless-express/src/configure.d.ts
node_modules/@vendia/serverless-express/src/configure.js
node_modules/@vendia/serverless-express/src/constants.js
node_modules/@vendia/serverless-express/src/current-invoke.d.ts
node_modules/@vendia/serverless-express/src/current-invoke.js
node_modules/@vendia/serverless-express/src/index.d.ts
node_modules/@vendia/serverless-express/src/index.js
node_modules/@vendia/serverless-express/src/is-binary.js
node_modules/@vendia/serverless-express/src/logger.d.ts
node_modules/@vendia/serverless-express/src/logger.js
node_modules/@vendia/serverless-express/src/make-resolver.js
node_modules/@vendia/serverless-express/src/middleware.js
node_modules/@vendia/serverless-express/src/request.js
node_modules/@vendia/serverless-express/src/response.js
node_modules/@vendia/serverless-express/src/transport.js
node_modules/@vendia/serverless-express/src/event-sources/index.js
node_modules/@vendia/serverless-express/src/event-sources/utils.js
node_modules/@vendia/serverless-express/src/event-sources/aws/alb.js
node_modules/@vendia/serverless-express/src/event-sources/aws/api-gateway-cognito.ts
node_modules/@vendia/serverless-express/src/event-sources/aws/api-gateway-v1.js
node_modules/@vendia/serverless-express/src/event-sources/aws/api-gateway-v2.js
node_modules/@vendia/serverless-express/src/event-sources/aws/appsync-resolver.ts
node_modules/@vendia/serverless-express/src/event-sources/aws/cognito-trigger.ts
node_modules/@vendia/serverless-express/src/event-sources/aws/dynamodb.js
node_modules/@vendia/serverless-express/src/event-sources/aws/eventbridge.js
node_modules/@vendia/serverless-express/src/event-sources/aws/kinesis.js
node_modules/@vendia/serverless-express/src/event-sources/aws/lambda-edge.js
node_modules/@vendia/serverless-express/src/event-sources/aws/sns.js
node_modules/@vendia/serverless-express/src/event-sources/aws/sqs.js
node_modules/@vendia/serverless-express/src/event-sources/aws/stepfunction-lambda.ts
node_modules/@vendia/serverless-express/src/event-sources/azure/http-function-runtime-v3.js
node_modules/@vendia/serverless-express/src/event-sources/azure/http-function-runtime-v4.js
node_modules/@vendia/serverless-express/src/frameworks/express.js
node_modules/@vendia/serverless-express/src/frameworks/hapi.js
node_modules/@vendia/serverless-express/src/frameworks/index.d.ts
node_modules/@vendia/serverless-express/src/frameworks/index.js
node_modules/@vendia/serverless-express/src/frameworks/koa.js
node_modules/accepts/HISTORY.md
node_modules/accepts/index.js
node_modules/accepts/LICENSE
node_modules/accepts/package.json
node_modules/accepts/README.md
node_modules/array-flatten/array-flatten.js
node_modules/array-flatten/LICENSE
node_modules/array-flatten/package.json
node_modules/array-flatten/README.md
node_modules/asynckit/bench.js
node_modules/asynckit/index.js
node_modules/asynckit/LICENSE
node_modules/asynckit/package.json
node_modules/asynckit/parallel.js
node_modules/asynckit/README.md
node_modules/asynckit/serial.js
node_modules/asynckit/serialOrdered.js
node_modules/asynckit/stream.js
node_modules/asynckit/lib/abort.js
node_modules/asynckit/lib/async.js
node_modules/asynckit/lib/defer.js
node_modules/asynckit/lib/iterate.js
node_modules/asynckit/lib/readable_asynckit.js
node_modules/asynckit/lib/readable_parallel.js
node_modules/asynckit/lib/readable_serial_ordered.js
node_modules/asynckit/lib/readable_serial.js
node_modules/asynckit/lib/state.js
node_modules/asynckit/lib/streamify.js
node_modules/asynckit/lib/terminator.js
node_modules/axios/CHANGELOG.md
node_modules/axios/gulpfile.js
node_modules/axios/index.d.ts
node_modules/axios/index.js
node_modules/axios/karma.conf.cjs
node_modules/axios/LICENSE
node_modules/axios/package.json
node_modules/axios/README.md
node_modules/axios/rollup.config.js
node_modules/axios/SECURITY.md
node_modules/axios/tsconfig.json
node_modules/axios/tslint.json
node_modules/axios/UPGRADE_GUIDE.md
node_modules/axios/bin/ssl_hotfix.js
node_modules/axios/dist/axios.js
node_modules/axios/dist/axios.js.map
node_modules/axios/dist/axios.min.js
node_modules/axios/dist/axios.min.js.map
node_modules/axios/dist/esm/axios.js
node_modules/axios/dist/esm/axios.js.map
node_modules/axios/dist/esm/axios.min.js
node_modules/axios/dist/esm/axios.min.js.map
node_modules/axios/dist/node/axios.cjs
node_modules/axios/dist/node/axios.cjs.map
node_modules/axios/lib/axios.js
node_modules/axios/lib/utils.js
node_modules/axios/lib/adapters/http.js
node_modules/axios/lib/adapters/index.js
node_modules/axios/lib/adapters/README.md
node_modules/axios/lib/adapters/xhr.js
node_modules/axios/lib/cancel/CanceledError.js
node_modules/axios/lib/cancel/CancelToken.js
node_modules/axios/lib/cancel/isCancel.js
node_modules/axios/lib/core/Axios.js
node_modules/axios/lib/core/AxiosError.js
node_modules/axios/lib/core/AxiosHeaders.js
node_modules/axios/lib/core/buildFullPath.js
node_modules/axios/lib/core/dispatchRequest.js
node_modules/axios/lib/core/InterceptorManager.js
node_modules/axios/lib/core/mergeConfig.js
node_modules/axios/lib/core/README.md
node_modules/axios/lib/core/settle.js
node_modules/axios/lib/core/transformData.js
node_modules/axios/lib/defaults/index.js
node_modules/axios/lib/defaults/transitional.js
node_modules/axios/lib/env/data.js
node_modules/axios/lib/env/README.md
node_modules/axios/lib/env/classes/FormData.js
node_modules/axios/lib/helpers/AxiosTransformStream.js
node_modules/axios/lib/helpers/AxiosURLSearchParams.js
node_modules/axios/lib/helpers/bind.js
node_modules/axios/lib/helpers/buildURL.js
node_modules/axios/lib/helpers/combineURLs.js
node_modules/axios/lib/helpers/cookies.js
node_modules/axios/lib/helpers/deprecatedMethod.js
node_modules/axios/lib/helpers/formDataToJSON.js
node_modules/axios/lib/helpers/fromDataURI.js
node_modules/axios/lib/helpers/isAbsoluteURL.js
node_modules/axios/lib/helpers/isAxiosError.js
node_modules/axios/lib/helpers/isURLSameOrigin.js
node_modules/axios/lib/helpers/null.js
node_modules/axios/lib/helpers/parseHeaders.js
node_modules/axios/lib/helpers/parseProtocol.js
node_modules/axios/lib/helpers/README.md
node_modules/axios/lib/helpers/speedometer.js
node_modules/axios/lib/helpers/spread.js
node_modules/axios/lib/helpers/throttle.js
node_modules/axios/lib/helpers/toFormData.js
node_modules/axios/lib/helpers/toURLEncodedForm.js
node_modules/axios/lib/helpers/validator.js
node_modules/axios/lib/platform/index.js
node_modules/axios/lib/platform/browser/index.js
node_modules/axios/lib/platform/browser/classes/FormData.js
node_modules/axios/lib/platform/browser/classes/URLSearchParams.js
node_modules/axios/lib/platform/node/index.js
node_modules/axios/lib/platform/node/classes/FormData.js
node_modules/axios/lib/platform/node/classes/URLSearchParams.js
node_modules/body-parser/HISTORY.md
node_modules/body-parser/index.js
node_modules/body-parser/LICENSE
node_modules/body-parser/package.json
node_modules/body-parser/README.md
node_modules/body-parser/SECURITY.md
node_modules/body-parser/lib/read.js
node_modules/body-parser/lib/types/json.js
node_modules/body-parser/lib/types/raw.js
node_modules/body-parser/lib/types/text.js
node_modules/body-parser/lib/types/urlencoded.js
node_modules/bytes/History.md
node_modules/bytes/index.js
node_modules/bytes/LICENSE
node_modules/bytes/package.json
node_modules/bytes/Readme.md
node_modules/call-bind/.eslintignore
node_modules/call-bind/.eslintrc
node_modules/call-bind/.nycrc
node_modules/call-bind/callBound.js
node_modules/call-bind/CHANGELOG.md
node_modules/call-bind/index.js
node_modules/call-bind/LICENSE
node_modules/call-bind/package.json
node_modules/call-bind/README.md
node_modules/call-bind/.github/FUNDING.yml
node_modules/call-bind/test/callBound.js
node_modules/call-bind/test/index.js
node_modules/combined-stream/License
node_modules/combined-stream/package.json
node_modules/combined-stream/Readme.md
node_modules/combined-stream/yarn.lock
node_modules/combined-stream/lib/combined_stream.js
node_modules/content-disposition/HISTORY.md
node_modules/content-disposition/index.js
node_modules/content-disposition/LICENSE
node_modules/content-disposition/package.json
node_modules/content-disposition/README.md
node_modules/content-type/HISTORY.md
node_modules/content-type/index.js
node_modules/content-type/LICENSE
node_modules/content-type/package.json
node_modules/content-type/README.md
node_modules/cookie/HISTORY.md
node_modules/cookie/index.js
node_modules/cookie/LICENSE
node_modules/cookie/package.json
node_modules/cookie/README.md
node_modules/cookie/SECURITY.md
node_modules/cookie-signature/.npmignore
node_modules/cookie-signature/History.md
node_modules/cookie-signature/index.js
node_modules/cookie-signature/package.json
node_modules/cookie-signature/Readme.md
node_modules/debug/.coveralls.yml
node_modules/debug/.eslintrc
node_modules/debug/.npmignore
node_modules/debug/.travis.yml
node_modules/debug/CHANGELOG.md
node_modules/debug/component.json
node_modules/debug/karma.conf.js
node_modules/debug/LICENSE
node_modules/debug/Makefile
node_modules/debug/node.js
node_modules/debug/package.json
node_modules/debug/README.md
node_modules/debug/src/browser.js
node_modules/debug/src/debug.js
node_modules/debug/src/index.js
node_modules/debug/src/inspector-log.js
node_modules/debug/src/node.js
node_modules/delayed-stream/.npmignore
node_modules/delayed-stream/License
node_modules/delayed-stream/Makefile
node_modules/delayed-stream/package.json
node_modules/delayed-stream/Readme.md
node_modules/delayed-stream/lib/delayed_stream.js
node_modules/depd/History.md
node_modules/depd/index.js
node_modules/depd/LICENSE
node_modules/depd/package.json
node_modules/depd/Readme.md
node_modules/depd/lib/browser/index.js
node_modules/destroy/index.js
node_modules/destroy/LICENSE
node_modules/destroy/package.json
node_modules/destroy/README.md
node_modules/ee-first/index.js
node_modules/ee-first/LICENSE
node_modules/ee-first/package.json
node_modules/ee-first/README.md
node_modules/encodeurl/HISTORY.md
node_modules/encodeurl/index.js
node_modules/encodeurl/LICENSE
node_modules/encodeurl/package.json
node_modules/encodeurl/README.md
node_modules/escape-html/index.js
node_modules/escape-html/LICENSE
node_modules/escape-html/package.json
node_modules/escape-html/Readme.md
node_modules/etag/HISTORY.md
node_modules/etag/index.js
node_modules/etag/LICENSE
node_modules/etag/package.json
node_modules/etag/README.md
node_modules/express/History.md
node_modules/express/index.js
node_modules/express/LICENSE
node_modules/express/package.json
node_modules/express/Readme.md
node_modules/express/lib/application.js
node_modules/express/lib/express.js
node_modules/express/lib/request.js
node_modules/express/lib/response.js
node_modules/express/lib/utils.js
node_modules/express/lib/view.js
node_modules/express/lib/middleware/init.js
node_modules/express/lib/middleware/query.js
node_modules/express/lib/router/index.js
node_modules/express/lib/router/layer.js
node_modules/express/lib/router/route.js
node_modules/finalhandler/HISTORY.md
node_modules/finalhandler/index.js
node_modules/finalhandler/LICENSE
node_modules/finalhandler/package.json
node_modules/finalhandler/README.md
node_modules/finalhandler/SECURITY.md
node_modules/follow-redirects/debug.js
node_modules/follow-redirects/http.js
node_modules/follow-redirects/https.js
node_modules/follow-redirects/index.js
node_modules/follow-redirects/LICENSE
node_modules/follow-redirects/package.json
node_modules/follow-redirects/README.md
node_modules/form-data/index.d.ts
node_modules/form-data/License
node_modules/form-data/package.json
node_modules/form-data/Readme.md
node_modules/form-data/README.md.bak
node_modules/form-data/lib/browser.js
node_modules/form-data/lib/form_data.js
node_modules/form-data/lib/populate.js
node_modules/forwarded/HISTORY.md
node_modules/forwarded/index.js
node_modules/forwarded/LICENSE
node_modules/forwarded/package.json
node_modules/forwarded/README.md
node_modules/fresh/HISTORY.md
node_modules/fresh/index.js
node_modules/fresh/LICENSE
node_modules/fresh/package.json
node_modules/fresh/README.md
node_modules/function-bind/.editorconfig
node_modules/function-bind/.eslintrc
node_modules/function-bind/.jscs.json
node_modules/function-bind/.npmignore
node_modules/function-bind/.travis.yml
node_modules/function-bind/implementation.js
node_modules/function-bind/index.js
node_modules/function-bind/LICENSE
node_modules/function-bind/package.json
node_modules/function-bind/README.md
node_modules/function-bind/test/.eslintrc
node_modules/function-bind/test/index.js
node_modules/get-intrinsic/.eslintrc
node_modules/get-intrinsic/.nycrc
node_modules/get-intrinsic/CHANGELOG.md
node_modules/get-intrinsic/index.js
node_modules/get-intrinsic/LICENSE
node_modules/get-intrinsic/package.json
node_modules/get-intrinsic/README.md
node_modules/get-intrinsic/.github/FUNDING.yml
node_modules/get-intrinsic/test/GetIntrinsic.js
node_modules/has/LICENSE-MIT
node_modules/has/package.json
node_modules/has/README.md
node_modules/has/src/index.js
node_modules/has/test/index.js
node_modules/has-symbols/.eslintrc
node_modules/has-symbols/.nycrc
node_modules/has-symbols/CHANGELOG.md
node_modules/has-symbols/index.js
node_modules/has-symbols/LICENSE
node_modules/has-symbols/package.json
node_modules/has-symbols/README.md
node_modules/has-symbols/shams.js
node_modules/has-symbols/.github/FUNDING.yml
node_modules/has-symbols/test/index.js
node_modules/has-symbols/test/tests.js
node_modules/has-symbols/test/shams/core-js.js
node_modules/has-symbols/test/shams/get-own-property-symbols.js
node_modules/http-errors/HISTORY.md
node_modules/http-errors/index.js
node_modules/http-errors/LICENSE
node_modules/http-errors/package.json
node_modules/http-errors/README.md
node_modules/https/package.json
node_modules/iconv-lite/Changelog.md
node_modules/iconv-lite/LICENSE
node_modules/iconv-lite/package.json
node_modules/iconv-lite/README.md
node_modules/iconv-lite/encodings/dbcs-codec.js
node_modules/iconv-lite/encodings/dbcs-data.js
node_modules/iconv-lite/encodings/index.js
node_modules/iconv-lite/encodings/internal.js
node_modules/iconv-lite/encodings/sbcs-codec.js
node_modules/iconv-lite/encodings/sbcs-data-generated.js
node_modules/iconv-lite/encodings/sbcs-data.js
node_modules/iconv-lite/encodings/utf7.js
node_modules/iconv-lite/encodings/utf16.js
node_modules/iconv-lite/encodings/tables/big5-added.json
node_modules/iconv-lite/encodings/tables/cp936.json
node_modules/iconv-lite/encodings/tables/cp949.json
node_modules/iconv-lite/encodings/tables/cp950.json
node_modules/iconv-lite/encodings/tables/eucjp.json
node_modules/iconv-lite/encodings/tables/gb18030-ranges.json
node_modules/iconv-lite/encodings/tables/gbk-added.json
node_modules/iconv-lite/encodings/tables/shiftjis.json
node_modules/iconv-lite/lib/bom-handling.js
node_modules/iconv-lite/lib/extend-node.js
node_modules/iconv-lite/lib/index.d.ts
node_modules/iconv-lite/lib/index.js
node_modules/iconv-lite/lib/streams.js
node_modules/inherits/inherits_browser.js
node_modules/inherits/inherits.js
node_modules/inherits/LICENSE
node_modules/inherits/package.json
node_modules/inherits/README.md
node_modules/ipaddr.js/ipaddr.min.js
node_modules/ipaddr.js/LICENSE
node_modules/ipaddr.js/package.json
node_modules/ipaddr.js/README.md
node_modules/ipaddr.js/lib/ipaddr.js
node_modules/ipaddr.js/lib/ipaddr.js.d.ts
node_modules/media-typer/HISTORY.md
node_modules/media-typer/index.js
node_modules/media-typer/LICENSE
node_modules/media-typer/package.json
node_modules/media-typer/README.md
node_modules/merge-descriptors/HISTORY.md
node_modules/merge-descriptors/index.js
node_modules/merge-descriptors/LICENSE
node_modules/merge-descriptors/package.json
node_modules/merge-descriptors/README.md
node_modules/methods/HISTORY.md
node_modules/methods/index.js
node_modules/methods/LICENSE
node_modules/methods/package.json
node_modules/methods/README.md
node_modules/mime/.npmignore
node_modules/mime/CHANGELOG.md
node_modules/mime/cli.js
node_modules/mime/LICENSE
node_modules/mime/mime.js
node_modules/mime/package.json
node_modules/mime/README.md
node_modules/mime/types.json
node_modules/mime/src/build.js
node_modules/mime/src/test.js
node_modules/mime-db/db.json
node_modules/mime-db/HISTORY.md
node_modules/mime-db/index.js
node_modules/mime-db/LICENSE
node_modules/mime-db/package.json
node_modules/mime-db/README.md
node_modules/mime-types/HISTORY.md
node_modules/mime-types/index.js
node_modules/mime-types/LICENSE
node_modules/mime-types/package.json
node_modules/mime-types/README.md
node_modules/ms/index.js
node_modules/ms/license.md
node_modules/ms/package.json
node_modules/ms/readme.md
node_modules/negotiator/HISTORY.md
node_modules/negotiator/index.js
node_modules/negotiator/LICENSE
node_modules/negotiator/package.json
node_modules/negotiator/README.md
node_modules/negotiator/lib/charset.js
node_modules/negotiator/lib/encoding.js
node_modules/negotiator/lib/language.js
node_modules/negotiator/lib/mediaType.js
node_modules/object-inspect/.eslintrc
node_modules/object-inspect/.nycrc
node_modules/object-inspect/CHANGELOG.md
node_modules/object-inspect/index.js
node_modules/object-inspect/LICENSE
node_modules/object-inspect/package-support.json
node_modules/object-inspect/package.json
node_modules/object-inspect/readme.markdown
node_modules/object-inspect/test-core-js.js
node_modules/object-inspect/util.inspect.js
node_modules/object-inspect/.github/FUNDING.yml
node_modules/object-inspect/example/all.js
node_modules/object-inspect/example/circular.js
node_modules/object-inspect/example/fn.js
node_modules/object-inspect/example/inspect.js
node_modules/object-inspect/test/bigint.js
node_modules/object-inspect/test/circular.js
node_modules/object-inspect/test/deep.js
node_modules/object-inspect/test/element.js
node_modules/object-inspect/test/err.js
node_modules/object-inspect/test/fakes.js
node_modules/object-inspect/test/fn.js
node_modules/object-inspect/test/has.js
node_modules/object-inspect/test/holes.js
node_modules/object-inspect/test/indent-option.js
node_modules/object-inspect/test/inspect.js
node_modules/object-inspect/test/lowbyte.js
node_modules/object-inspect/test/number.js
node_modules/object-inspect/test/quoteStyle.js
node_modules/object-inspect/test/toStringTag.js
node_modules/object-inspect/test/undef.js
node_modules/object-inspect/test/values.js
node_modules/object-inspect/test/browser/dom.js
node_modules/on-finished/HISTORY.md
node_modules/on-finished/index.js
node_modules/on-finished/LICENSE
node_modules/on-finished/package.json
node_modules/on-finished/README.md
node_modules/parseurl/HISTORY.md
node_modules/parseurl/index.js
node_modules/parseurl/LICENSE
node_modules/parseurl/package.json
node_modules/parseurl/README.md
node_modules/path-to-regexp/History.md
node_modules/path-to-regexp/index.js
node_modules/path-to-regexp/LICENSE
node_modules/path-to-regexp/package.json
node_modules/path-to-regexp/Readme.md
node_modules/proxy-addr/HISTORY.md
node_modules/proxy-addr/index.js
node_modules/proxy-addr/LICENSE
node_modules/proxy-addr/package.json
node_modules/proxy-addr/README.md
node_modules/proxy-from-env/.eslintrc
node_modules/proxy-from-env/.travis.yml
node_modules/proxy-from-env/index.js
node_modules/proxy-from-env/LICENSE
node_modules/proxy-from-env/package.json
node_modules/proxy-from-env/README.md
node_modules/proxy-from-env/test.js
node_modules/punycode/LICENSE-MIT.txt
node_modules/punycode/package.json
node_modules/punycode/punycode.js
node_modules/punycode/README.md
node_modules/qs/.editorconfig
node_modules/qs/.eslintrc
node_modules/qs/.nycrc
node_modules/qs/CHANGELOG.md
node_modules/qs/LICENSE.md
node_modules/qs/package.json
node_modules/qs/README.md
node_modules/qs/.github/FUNDING.yml
node_modules/qs/dist/qs.js
node_modules/qs/lib/formats.js
node_modules/qs/lib/index.js
node_modules/qs/lib/parse.js
node_modules/qs/lib/stringify.js
node_modules/qs/lib/utils.js
node_modules/qs/test/parse.js
node_modules/qs/test/stringify.js
node_modules/qs/test/utils.js
node_modules/querystring/.History.md.un~
node_modules/querystring/.package.json.un~
node_modules/querystring/.Readme.md.un~
node_modules/querystring/.travis.yml
node_modules/querystring/decode.js
node_modules/querystring/encode.js
node_modules/querystring/History.md
node_modules/querystring/index.js
node_modules/querystring/License.md
node_modules/querystring/package.json
node_modules/querystring/Readme.md
node_modules/querystring/test/.index.js.un~
node_modules/querystring/test/common-index.js
node_modules/querystring/test/index.js
node_modules/querystring/test/tap-index.js
node_modules/range-parser/HISTORY.md
node_modules/range-parser/index.js
node_modules/range-parser/LICENSE
node_modules/range-parser/package.json
node_modules/range-parser/README.md
node_modules/raw-body/HISTORY.md
node_modules/raw-body/index.d.ts
node_modules/raw-body/index.js
node_modules/raw-body/LICENSE
node_modules/raw-body/package.json
node_modules/raw-body/README.md
node_modules/raw-body/SECURITY.md
node_modules/safe-buffer/index.d.ts
node_modules/safe-buffer/index.js
node_modules/safe-buffer/LICENSE
node_modules/safe-buffer/package.json
node_modules/safe-buffer/README.md
node_modules/safer-buffer/dangerous.js
node_modules/safer-buffer/LICENSE
node_modules/safer-buffer/package.json
node_modules/safer-buffer/Porting-Buffer.md
node_modules/safer-buffer/Readme.md
node_modules/safer-buffer/safer.js
node_modules/safer-buffer/tests.js
node_modules/send/HISTORY.md
node_modules/send/index.js
node_modules/send/LICENSE
node_modules/send/package.json
node_modules/send/README.md
node_modules/send/SECURITY.md
node_modules/send/node_modules/ms/index.js
node_modules/send/node_modules/ms/license.md
node_modules/send/node_modules/ms/package.json
node_modules/send/node_modules/ms/readme.md
node_modules/serve-static/HISTORY.md
node_modules/serve-static/index.js
node_modules/serve-static/LICENSE
node_modules/serve-static/package.json
node_modules/serve-static/README.md
node_modules/serverless-http/LICENSE.txt
node_modules/serverless-http/package.json
node_modules/serverless-http/README.md
node_modules/serverless-http/serverless-http.d.ts
node_modules/serverless-http/serverless-http.js
node_modules/serverless-http/lib/finish.js
node_modules/serverless-http/lib/request.js
node_modules/serverless-http/lib/response.js
node_modules/serverless-http/lib/framework/get-framework.js
node_modules/serverless-http/lib/provider/get-provider.js
node_modules/serverless-http/lib/provider/aws/clean-up-event.js
node_modules/serverless-http/lib/provider/aws/create-request.js
node_modules/serverless-http/lib/provider/aws/format-response.js
node_modules/serverless-http/lib/provider/aws/index.js
node_modules/serverless-http/lib/provider/aws/is-binary.js
node_modules/serverless-http/lib/provider/aws/sanitize-headers.js
node_modules/serverless-http/lib/provider/azure/clean-up-request.js
node_modules/serverless-http/lib/provider/azure/create-request.js
node_modules/serverless-http/lib/provider/azure/format-response.js
node_modules/serverless-http/lib/provider/azure/index.js
node_modules/serverless-http/lib/provider/azure/is-binary.js
node_modules/serverless-http/lib/provider/azure/sanitize-headers.js
node_modules/serverless-http/lib/provider/azure/set-cookie.json
node_modules/setprototypeof/index.d.ts
node_modules/setprototypeof/index.js
node_modules/setprototypeof/LICENSE
node_modules/setprototypeof/package.json
node_modules/setprototypeof/README.md
node_modules/setprototypeof/test/index.js
node_modules/side-channel/.eslintignore
node_modules/side-channel/.eslintrc
node_modules/side-channel/.nycrc
node_modules/side-channel/CHANGELOG.md
node_modules/side-channel/index.js
node_modules/side-channel/LICENSE
node_modules/side-channel/package.json
node_modules/side-channel/README.md
node_modules/side-channel/.github/FUNDING.yml
node_modules/side-channel/test/index.js
node_modules/statuses/codes.json
node_modules/statuses/HISTORY.md
node_modules/statuses/index.js
node_modules/statuses/LICENSE
node_modules/statuses/package.json
node_modules/statuses/README.md
node_modules/toidentifier/HISTORY.md
node_modules/toidentifier/index.js
node_modules/toidentifier/LICENSE
node_modules/toidentifier/package.json
node_modules/toidentifier/README.md
node_modules/type-is/HISTORY.md
node_modules/type-is/index.js
node_modules/type-is/LICENSE
node_modules/type-is/package.json
node_modules/type-is/README.md
node_modules/unpipe/HISTORY.md
node_modules/unpipe/index.js
node_modules/unpipe/LICENSE
node_modules/unpipe/package.json
node_modules/unpipe/README.md
node_modules/url/.npmignore
node_modules/url/.travis.yml
node_modules/url/.zuul.yml
node_modules/url/LICENSE
node_modules/url/package.json
node_modules/url/README.md
node_modules/url/test.js
node_modules/url/url.js
node_modules/url/util.js
node_modules/utils-merge/.npmignore
node_modules/utils-merge/index.js
node_modules/utils-merge/LICENSE
node_modules/utils-merge/package.json
node_modules/utils-merge/README.md
node_modules/vary/HISTORY.md
node_modules/vary/index.js
node_modules/vary/LICENSE
node_modules/vary/package.json
node_modules/vary/README.md
.serverless/cloudformation-template-create-stack.json
.serverless/cloudformation-template-update-stack.json
.serverless/serverless-state.json
.serverless/ValLogin.zip
