#shop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
}

.shopItem {
    width: -webkit-fill-available;
    padding: 10px;
    border-radius: 10px;
    background: #2e2e2e;
    box-shadow: 0 10px 20px #00000080;
    transition: width 0.5s ease-in-out;
}

.shopItem:hover {
    width: 415px;
    transition: width 0.5s ease-in-out;
}

.shopItem>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.vp {
    width: 1em;
}

.itemPriceContainer {
    display: flex;
    align-items: center;
    padding: 1px 7px;
}

.itemPrice {
    padding: 0px 3px;
}